@model NotesMarketPlaceProject.Models.RegisterUser
@{
    ViewBag.Title = "ForgotPassword";
}
<!DOCTYPE html>
<html>
<head>
    <!--Important meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/signup.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive_signup.css">

    <!--Font Awesome-->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">


</head>
<body>
    <section id="forgotpwd">
        <div class="content-box-lg">
            <div class="row justify-content-center">
                <div class="col-6 ml-auto mr-auto page-center">
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="img-logo">
                            <img src="~/Content/images/pre-login/top-logo.png" alt="logo"/>
                        </div>
                    </div>

                    @using (Html.BeginForm("ForgotPassword", "NotesMarketPlace", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-container">
                            <h1>Change Password</h1>
                            <p>Enter your email to reset your password</p>
                                <div class="row">
                                    <!--Email-->
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group e-mail">
                                            @Html.LabelFor(m => m.EmailID, "Email")
                                            @Html.TextBoxFor(m => m.EmailID,new { @class = "form-control ", @id = "exampleInputEmail1" ,
                                            @placeholder = "notesmarketplace77@gmail.com"})
                                        </div>
                                    </div>

                                    <!--Button-->
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <button class="btn btn-primary btn-block" onclick="location.href='@Url.Action("Login","NotesMarketPlace")';return :false;">SUBMIT</button>
                                    </div>
                                </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <!--JQuery JS-->
    <script src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script type="text/javascript" src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>