<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-12 text-left" id="text">
                <p>
                    Copyright &copy; Tatvasoft All rights reserved.
                </p>
            </div>

            <div class="col-md-6 col-sm-4 col-12" id="img">
                <div class="social-list text-right">
                    <a href="https://en-gb.facebook.com/TatvaSoft/"><img src="~/Content/images/facebook.png" alt="facebook-img" /></a>
                    <a href="https://twitter.com/tatvasoft?lang=en"><img src="~/Content/images/twitter.png" alt="twitter-img"></a>
                    <a href="https://in.linkedin.com/company/tatvasoft"><img src="~/Content/images/linkedin.png" alt="linkedin-img"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

