<!--Footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12 text-left">
                <p>Version : 1.1.24</p>
            </div>

            <div class="col-md-6 col-sm-6 col-12 text-right">
                <p>
                    Copyright &copy; Tatvasoft All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
<!--Footer Ends-->
