<!DOCTYPE html>
<html>
<head>
    <title>NotesMarketPlace</title>

    <!--Important meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!--Font Awesome-->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @*//@Scripts.Render("~/bundles/jquery")
    //@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
