
@{
    ViewBag.Title = "SellYourNotes";
}

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <!--Important meta tags-->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.min.css">
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/dashboard.css">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive_dashboard.css">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/User-Profile/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item"><a class="nav-link" href="search_notes.html">Search Notes</a></li>
                    <li class="nav-item"><a class="nav-link" href="mysold_notes.html">Sell Your Notes</a></li>
                    <li class="nav-item"><a class="nav-link" href="buyer_request.html">Buyer Requests</a></li>
                    <li class="nav-item"><a class="nav-link" href="FAQ.html">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="contactus.html">Contact Us</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="~/Content/images/user-img.png" alt="user-1">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">My Profile</a>
                            <a class="dropdown-item" href="#">My Download</a>
                            <a class="dropdown-item" href="#">My Sold Notes</a>
                            <a class="dropdown-item" href="#">My Rejected Notes</a>
                            <a class="dropdown-item" href="#">Change Password</a>
                            <a class="dropdown-item" href="#" id="log-out">Logout</a>
                        </div>
                    </li>
                    <li class="nav-item" id="btn">
                        <a class="nav-link" href="#"><button type="submit" class="btn btn-primary btn-block">Logout</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar Ends-->
    <!--Dashboard Box-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <!--Part 1-->
                <div class="row" id="dash-box">
                    <!--Left Part-->
                    <div class="col-md-6 col-sm-7 col-6" id="heading-left">
                        <!--Heading-->
                        <h3>Dashboard</h3>
                    </div>

                    <!--Right Part-->
                    <div class="col-md-6 col-sm-5 col-6" id="add-note">
                        <!--Button-->
                        <button class="btn btn-primary" id="btn-add-note">ADD NOTE</button>
                    </div>
                </div>
                <!--Part 1 Ends-->
                <!--part 2-->
                <div class="row" id="dashboard">

                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="card dashboard-card mx-auto">
                            <div class="card-body">
                                <img src="~/Content/images/Dashboard/earning-icon.svg" alt="my-earning-img">
                                <h1 class="dashboard-heading text-center">My Earning</h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-8 col-sm-8">
                        <div class="card dashboard-card mx-auto">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                                        <h1 class="dashboard-heading">100</h1>
                                        <p class="dashboard-text">Number Of Notes Sold</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                                        <h1 class="dashboard-heading">$10,00,000</h1>
                                        <p class="dashboard-text">Money Earned</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="card dashboard-card mx-auto">
                            <div class="card-body text-center">
                                <h1 class="dashboard-heading">38</h1>
                                <p class="dashboard-text">My Downloads</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="card dashboard-card mx-auto">
                            <div class="card-body text-center">
                                <h1 class="dashboard-heading">12</h1>
                                <p class="dashboard-text">My Rejected Notes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <div class="card dashboard-card mx-auto">
                            <div class="card-body text-center">
                                <h1 class="dashboard-heading">102</h1>
                                <p class="dashboard-text">Buyer Requests</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--part 2 Ends-->
                <!--Part 3-->
                <div class="row" id="in-progress">
                    <div class="col-md-6 col-sm-6 col-12" id="heading">
                        <h3>In Progress Notes</h3>
                    </div>

                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="row" id="search">
                            <div class="col-md-6 col-sm-6 col-6">
                                <div class="form-group input">
                                    <input type="text" class="form-control" id="exampleInput" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                                <button class="btn btn-primary">SEARCH</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Table 1-->
                <div class="row" id="table-1">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="tr">
                                        <th>ADDED DATE</th>
                                        <th>TITLE</th>
                                        <th>CATEGORY</th>
                                        <th>STATUS</th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>09-10-2020</td>
                                        <td>Data Science</td>
                                        <td>Science</td>
                                        <td>Draft</td>
                                        <td>
                                            <img src="~/Content/images/Dashboard/edit.png" id="view-1" alt="edit">
                                            <img src="~/Content/images/delete.png" id="view-1" alt="delete">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10-10-2020</td>
                                        <td>Accounts</td>
                                        <td>Commerce</td>
                                        <td>In review</td>
                                        <td>
                                            <img src="~/Content/images/Dashboard/eye.png" alt="review">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>11-10-2020</td>
                                        <td>Social Studies</td>
                                        <td>Social</td>
                                        <td>Submitted</td>
                                        <td>
                                            <img src="~/Content/images/Dashboard/eye.png" alt="review">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12-10-2020</td>
                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>Submitted</td>
                                        <td>
                                            <img src="~/Content/images/Dashboard/eye.png" alt="review">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>13-10-2020</td>
                                        <td>Lorem ipsum dolor sit ametsectetur</td>
                                        <td>Lorem</td>
                                        <td>Draft</td>
                                        <td>
                                            <img src="~/Content/images/Dashboard/edit.png" alt="edit">
                                            <img src="~/Content/images/delete.png" alt="delete">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--Page Navigation of table-1-->
                    <div class="container">
                        <div class="row" id="page-nav">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item" id="arrow"><a class="page-link" href="#"><</a></li>
                                        <li class="page-item" id="num"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item" id="num"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item" id="num"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item" id="num"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item" id="num"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item" id="arrow"><a class="page-link" href="#">></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Part 3 Ends-->
                <!--Part 4-->
                <div class="row" id="published">
                    <div class="col-md-6 col-sm-6 col-12" id="heading">
                        <h3>Published Notes</h3>
                    </div>

                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="row" id="search">
                            <div class="col-md-6  col-sm-6 col-6">
                                <div class="form-group input">
                                    <input type="text" class="form-control" id="exampleInput" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-md-6  col-sm-6 col-6">
                                <button class="btn btn-primary">SEARCH</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Table 2-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="tr">
                                        <th>ADDED DATE</th>
                                        <th>TITLE</th>
                                        <th>CATEGORY</th>
                                        <th>SELL TYPE</th>
                                        <th>PRICE</th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>09-10-2020</td>
                                        <td>Data Science</td>
                                        <td>Science</td>
                                        <td>Paid</td>
                                        <td>$175</td>
                                        <td>
                                            <img src="~/Content/images/Dashboard/eye.png" alt="review">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10-10-2020</td>
                                        <td>Accounts</td>
                                        <td>Commerce</td>
                                        <td>Free</td>
                                        <td>$0</td>
                                        <td>
                                            <img src="~/Content/images/Dashboard/eye.png" alt="review">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>11-10-2020</td>
                                        <td>Social Studies</td>
                                        <td>Social</td>
                                        <td>Free</td>
                                        <td>$0</td>
                                        <td>
                                            <img src="~/Content/images/Dashboard/eye.png" alt="review">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12-10-2020</td>
                                        <td>AI</td>
                                        <td>IT</td>
                                        <td>Paid</td>
                                        <td>$3542</td>
                                        <td>
                                            <img src="~/Content/images/Dashboard/eye.png" alt="review">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>13-10-2020</td>
                                        <td>Lorem ipsum dolor sit ametsectetur</td>
                                        <td>Lorem</td>
                                        <td>Free</td>
                                        <td>$0</td>
                                        <td>
                                            <img src="~/Content/images/Dashboard/eye.png" alt="review">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--Page Navigation of table-1-->
                    <div class="container">
                        <div class="row" id="page-nav">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item" id="arrow"><a class="page-link" href="#"><</a></li>
                                        <li class="page-item" id="num"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item" id="num"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item" id="num"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item" id="num"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item" id="num"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item" id="arrow"><a class="page-link" href="#">></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Part 4 Ends-->
            </div>
        </div>
    </div>

    <!--JQuery JS-->
    <script src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script type="text/javascript" src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

</body>
</html>

