<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>

    <!--Important meta tags-->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/homepage.css">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive_homepage.css">

    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/signup.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive_signup.css">

    <!--Font Awesome-->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">

</head>
<body>
    
        @RenderBody();
        
        @*@Scripts.Render()*@
    <!--JQuery JS-->
    <script src="~/Scripts/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script type="text/javascript" src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!--Custom JS-->
    <script type="text/javascript" src="~/Scripts/js/script.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>