@media (min-width: 1200px) and (max-width: 1300px){
	.content-box-lg{
		height: 210vh;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.content-box-lg{
		height: 210vh;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.content-box-lg{
		height: 210vh;
	}
}
@media (min-width: 575px) and (max-width: 767px){
	.content-box-lg{
		height: 210vh;
	}
}
@media (max-width: 574px) {
	.content-box-lg{
		height: 190vh;
	}

	.form-container{
		padding: 20px;
	}
	.pwd {
		margin-top: 10px;
	}
	.btn-block{
		margin-top: 10px;
	}
}

