/*================================================
                    Navbar
==================================================*/
html,body{
  height: 100%;
  width: 100%;
}
body{
  padding-top: 60px;
}
#navbar{
  padding-right: 0px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08);
}
.bg-light{
  background-color: #fff !important;
}

/*logo*/
.logo img{
  margin: 8px 0px 10px -9px;
}

.collapse .navbar-collapse{
  margin-left: auto !important;
}

#navbarSupportedContent{
  margin-right: 70px;
}

.navbar-light .navbar-nav .nav-link{
  font-family: Open Sans;
  color: #000;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #6255a5;
  text-decoration: underline;
}
/*Button*/
#btn .btn-block{
 font-family: Open Sans;
 font-weight: 500;
 font-size: 13px;
 background-color: #6255a5;
 width: 70px;
 height: 35px;
 border: 4px #6255a5;
 color: #fff;
 padding: 1px 2px 3px 2px;
 margin-right: -68px;
 margin-top: -8px;
 margin-bottom: 0px;
}

#btn .btn-block:hover{
  background-color: #6255a5;
  opacity: 0.9;
}

.nav-item .nav-link img{
  height: 40px;
  width: 40px;
  margin-top: -7px;
}


/*================================================
                Members
==================================================*/
#member{
  margin-top: 60px;
}

.member-heading .heading h3{
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 50px;
  color: #6255a5;
  margin-bottom: 30px;
 
}
.dropdown-menu a:hover {
    background-color: #6255a5;
    color: #fff;
}
#search .search-member input{
  background-image: url("../../images/search.jpg");
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-left: 25px;
  background-position-x: 2%;
  background-position-y: 58%;
}

.button .btn-primary{
  background-color: #6255a5;
  height: 50px;
  border-radius: 3px;
  border-color: transparent;
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.dropdown-menu a {
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 500;
    line-height: 32px;
}
.button .btn-primary:hover{
  opacity: 0.9;
}

.form-control::placeholder{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a8a;
  padding-left: 11px; 
}

#example{
  height: 50px;
  border: 1px solid #d1d1d1;
}

/*================================================
                    Table
==================================================*/
.table{
  border: 1px solid #d1d1d1;
}
.table th{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #333333;
  height: 60px;
  text-align: left;
  padding-top: 15px;
}

.table thead th{
  vertical-align: middle;
}


.table td{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  height: 60px;
  padding-top: 20px;
}

tr:hover{
  -webkit-box-shadow: 0px 2px 4px #e06547;
    -moz-box-shadow: 0px 2px 4px #e06547;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

/*td:nth-child(2),td:nth-child(5){
  color: #6255a5;
}*/

.table img{
  margin-left: 7px;
}

/*Drop-down*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -120px;
  margin-top: -10px;
  width: 230px;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

/*================================================
                Pagianation
==================================================*/
#page-nav{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

#num a{
  color: #333333;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10px;
}

#num a:hover{
  width: 34px;
  height: 34px;
  background-color:  #6255a5;
  border-radius: 50%;
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.page-link{
  border:none;
}

#arrow a{
  width: 8px;
  height: 15px;
  color: #333333;
  margin-right: 30px;
  margin-left: 10px;
}

.pagination{
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  bottom: 0;
  height: 60px;
  border-top: 1px solid #aaa;
  padding-top: 20px;
  background: #fff;
 
}
/*Pagination*/
.dataTables_info {
    color: transparent;
}

table.dataTable thead .sorting {
    background: none !important;
}

table.dataTable thead .sorting_asc {
    background: none !important;
}



table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: none;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none !important;
    background-color: #6255a5 !important;
    border-radius: 50% !important;
    color: white !important;
    font-family: "open sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.dataTables_wrapper .dataTables_paginate {
    display: table;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.paginate_button a {
    color: #333;
}

.active a {
    color: white;
    text-decoration: none;
    outline: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    background-color: white;
    color: #333 !important;
    border-radius: 50%;
    border: 1px solid white;
    font-family: "open sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    outline: none;
}

.dataTables_wrapper .dataTables_info {
    display: none;
}

a {
    color: #6255a5;
    text-decoration: none;
}

a:hover {
   color: #6255a5;
}