/*================================================
                    Navbar
==================================================*/
html,body{
  height: 100%;
  width: 100%;
}
input.upload::-webkit-file-upload-button {
    visibility: hidden;
}
span#upload_notes-error {
    margin-left: -290px;
}
input#upload_image1.upload.input-validation-error{
    color:red;
}
#navbar{
  padding-right: 0px;
   box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08);
}
.bg-light{
  background-color: #fff !important;
}
/*logo*/
.logo img{
  margin: 8px 0px 10px -9px;
}

.collapse .navbar-collapse{
  margin-left: auto !important;
}

#navbarSupportedContent{
  margin-right: 70px;
}

.navbar-light .navbar-nav .nav-link{
  font-family: Open Sans;
  color: #000;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 14px;
}

/*Button*/
#btn .btn-block{
 font-family: Open Sans;
 font-weight: 500;
 font-size: 13px;
 background-color: #6255a5;
 width: 70px;
 height: 35px;
 border: 4px #6255a5;
 color: #fff;
 padding: 1px 2px 3px 2px;
 margin-right: -68px;
 margin-top: -8px;
 margin-bottom: 0px;
}

#btn .btn-block:hover{
  background-color: #6255a5;
  opacity: 0.9;
}
#save_btn {
    background-color: #6255a5;
    opacity: 0.9;
}
div#selling_price {
    margin-top: 20px;
}
#radio-button label {
    margin-left: -7px;
    margin-right: 17px;
}
    /*Background image*/
    #background-image {
    background-image: url("../images/User-Profile/banner-with-overlay.jpg");
    width: 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}

#title{
    font-family: "open Sans", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #fff;
    margin-top: 70px;
}

.nav-item .nav-link img{
  height: 40px;
  width: 40px;
  margin-top: -7px;
  border-radius:50%;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #6255a5;
  text-decoration: underline;
}
.btn-primary{
  width: 150px;
  height: 50px;
  border-radius: 3px;
  color: #fff;
  background-color: #6255a5;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 22px;
  border-color: transparent;
  margin-right: 10px;
  margin-top: 30px;
}
.btn-primary:hover{
  background-color: #6255a5;
  opacity: 0.9;
}
#add{
  margin-top: 60px;
}

.Button-class{
  margin-bottom: 60px;
}

/*================================================
              Basic PRofile Details
==================================================*/
/*Heading*/
#heading h2{
  color: #6255a5;
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  margin-top: 60px;
  margin-bottom: 40px;
}

input[type=text]{
  height: 50px;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
}

input[type=select]{
  height: 50px;
}

#exampleInput{
  height: 50px;
  border-radius: 3px; 
}

/*For upload a file*/
.add-border{
  border: 1px solid #d1d1d1;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  margin-left: 0px;
  width: 100%;
  padding-right: 0px;
}

.add-border p{
  color: #8a8a8a;
}

.number label{
  margin-left: -84px;
}
button, input {
    overflow: visible;
    color: #8a8a8a;
}
input[type=file]
{
    color:transparent;
}
.custom-select{
  background: #fff url("../images/User-Profile/down-arrow.png") no-repeat;
  background-position: 98%;
  color: #d4d4d4;
  font-size: 16px;
  font-family: Open Sans;
  line-height: 20px;
  color: #8a8a8a;
}

.form-control::placeholder{
  font-size: 16px;
  font-family: Open Sans;
  line-height: 20px;
   color: #8a8a8a;
}

label{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}
/*================================================
              Institutional Details
==================================================*/

#country input{
  background-image: url("../images/User-Profile/down-arrow.png");
  background-repeat: no-repeat;
  background-position: 98%;
}

/*================================================
              Selling Information
==================================================*/
input[type=radio]{
  width: 30px;
  height: 30px;
  border: 1px solid #d1d1d1;
  margin-right: 30px;
}

input[type='radio']:checked:after {
   width: 15px;
   height: 15px;
  background-color: #6255a5;
    }

#radio-button{
  margin-top: 4px;
}

label#value1{
 position: relative;
    top: -10px;
    margin-right: 15px;
}

.radio-button label{
  margin-left: 0px;
}

footer {
  width: 100%;
  bottom: 0;
  height: 60px;
  border-top: 1px solid #aaa;
  padding-top: 20px;
  background: #fff;
}

.social-list a{
  border: 1px solid #6255a5;
  height:30px;
  width: 30px;
  display: inline-block;
  line-height: 24px;
  color: #fff;
  background-color: #6255a5;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 10px;
}
a.dropdown-item:hover {
    background-color: #6255a5 !important;
    color: #fff !important;
}
