/*================================================
                    Navbar
==================================================*/
body{
  padding-top: 60px;
}
html,body{
  height: 100%;
  width: 100%;
}

#navbar{
  padding-right: 0px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08);
}
.bg-light{
  background-color: #fff !important;
}

/*logo*/
.logo img{
  margin: 8px 0px 10px -9px;
}

.collapse .navbar-collapse{
  margin-left: auto !important;
}

#navbarSupportedContent{
  margin-right: 70px;
}

.navbar-light .navbar-nav .nav-link{
  font-family: Open Sans;
  color: #000;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 14px;
}

/*Button*/
#btn .btn-block{
 font-family: Open Sans;
 font-weight: 500;
 font-size: 13px;
 background-color: #6255a5;
 width: 70px;
 height: 35px;
 border: 4px #6255a5;
 color: #fff;
 padding: 1px 2px 3px 2px;
 margin-right: -68px;
 margin-top: -8px;
 margin-bottom: 0px;
}

#btn .btn-block:hover{
  background-color: #6255a5;
  opacity: 0.9;
}

.nav-item .nav-link img {
    height: 40px;
    width: 40px;
    margin-top: -7px;
    border-radius:50%;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #6255a5;
  text-decoration: underline;
}

/*Drop-down*/
.dropdown-item{
  position: relative;
  display: block;
}

/*.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -120px;
  margin-top: -10px;
  width: 180px;
  height: 210px;
  margin-left: 45px;
}*/

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: red;}

.dropdown-item a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

a.dropdown-item:hover{
  background-color: #6255a5!important;
  color: #fff!important;
}

/*================================================
      Dashboard heading and button(part-1)
==================================================*/
#dashboard{
  margin-top: 30px;
}

#heading-left h3{
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-top: 60px; 
}

#add-note{
  text-align: right;
  margin-right: 0px
}

#btn-add-note{
  margin-right: 0px;
  background-color: #6255a5;
  width: 150px;
  height: 50px;
  border-radius: 3px;
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 60px;
  border-color: transparent;
}
#btn-add-note:hover{
  background-color: #6255a5;
  opacity: 0.9;
}
#in-progress #heading h3{
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-top: 15px;
}

#published #heading h3{
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-top: 15px;
}

/*================================================
            Dashboard box(part-2)
==================================================*/
.card-body h1{
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  color: #6255a5;
}

.card-body p{
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
}

#btn-search{
  margin-top: 55px;
  background-color: #6255a5;
  width: 117px;
  height: 50px;
  border: 3px transparent;
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 22px;
  font-size: 700;
}
#btn-search:hover{
  background-color: #6255a5;
  opacity: 0.9;
}
/*================================================
                Search option And Button
==================================================*/
#exampleInput1 {
    height: 50px;
    border: 1px solid #d1d1d1;
}
#exampleInput2 {
    height: 50px;
    border: 1px solid #d1d1d1;
}

.exampleInput input {
    background-image: url("../images/downloads/search.jpg");
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-left: 25px;
    background-position-x: 2%;
    background-position-y: 58%;
    height: 50px;
    border: 1px solid #d1d1d1;
} 

.form-control::placeholder{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a8a;
  padding-left: 15px; 
}

#search .btn-primary
{
  background-color: #6255a5;
  /*width: 150px;*/
  height: 50px;
  border-radius: 3px;
  border-color: transparent;
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

#search .btn-primary:hover{
  background-color: #6255a5;
  opacity: 0.9;
}

#search{
  padding-bottom: 10px;
}

#in-progress{
  margin-top: 60px;
}

#table-1 .table img{
  margin-left: 10px;
}

.card {
  height: 226px;
}


/*================================================
                    Table
==================================================*/
.table{
  border: 1px solid #d1d1d1;
}
.table th{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #333333;
  height: 60px;
  text-align: left;
  padding-top: 15px;
}

.table thead th{
  vertical-align: middle;
}


.table td{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  height: 60px;
  padding-top: 20px;
}

tr:hover{
  -webkit-box-shadow: 0px 2px 4px #e06547;
    -moz-box-shadow: 0px 2px 4px #e06547;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

td:nth-child(2){
  color: #6255a5;
}

.table img{
  margin-left: 25px;
}

/*================================================
                Pagianation
==================================================*/
#page-nav{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

#num a{
  color: #333333;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10px;
}

#num a:hover{
  width: 34px;
  height: 34px;
  background-color:  #6255a5;
  border-radius: 50%;
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.page-link{
  border:none;
}

#arrow a{
  width: 8px;
  height: 15px;
  color: #333333;
  margin-right: 30px;
  margin-left: 10px;
}

.pagination{
  display: flex;
  justify-content: center;
}
footer {
  width: 100%;
  bottom: 0;
  height: 60px;
  border-top: 1px solid #aaa;
  padding-top: 20px;
  background: #fff;
 
}

.social-list a{
  border: 1px solid #6255a5;
  height:30px;
  width: 30px;
  display: inline-block;
  line-height: 24px;
  color: #fff;
  background-color: #6255a5;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 10px;
}
#dashboard_table1_wrapper table.dataTable thead th, table.dataTable thead td {
    border-bottom: none;
}
#dashboard_table1_wrapper table.dataTable thead .sorting{
    background-image:none;
}
.dataTables_info {
    color: transparent;
}
table.dataTable thead .sorting {
    background: none !important;
}

table.dataTable thead .sorting_asc {
    background: none !important;
}



table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: none;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none !important;
    background-color: #6255a5 !important;
    border-radius: 50% !important;
    color: white !important;
    font-family: "open sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.dataTables_wrapper .dataTables_paginate {
    display: table;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.paginate_button a{
    color:#333;
}
.active a {
    color: white;
    text-decoration: none;
    outline: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: none;
        background-color: white;
        color: #333 !important;
        border-radius: 50%;
        border: 1px solid white;
        font-family: "open sans",sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        outline: none;
}

.dataTables_wrapper .dataTables_info {
    display: none;
}

a{
    color:#6255a5;
    text-decoration:none;
}
a:hover{
    color:#6255a5;
}