
@media (min-width: 768px) and (max-width: 991px){
	.navbar-nav .nav-link{
		display: flex;
		justify-content: left;
	}
	.navbar-nav .dropdown-menu{
		width: 190px;
	}
}

@media (min-width: 576px) and (max-width: 767px){

	.navbar-nav .nav-link{
		display: flex;
		justify-content: left;
	}
	#search .btn-primary{
		font-weight: 500;
	}
	#add-category .btn-primary{
		font-weight:500;
	}
	.navbar-nav .dropdown-menu{
		width: 190px;
	}
}

@media (min-width: 481px) and (max-width: 575px){

	.navbar-nav .nav-link{
		display: flex;
		justify-content: left;
	}
	.navbar-nav .dropdown-menu{
		width: 190px;
	}
	#search .btn-primary{
		font-weight: 500;
		margin-top:18px;
	}
	#search .search-note input{
		margin-top: 	18px;
	}
	#add-category .btn-primary{
		font-weight: 500;
	}
	.text-left p{
		text-align: center !important;
	}
	.text-right p{
		text-align: center !important;
	}
}
@media (max-width: 480px){
	.navbar-nav .nav-link{
		display: flex;
		justify-content: left;
	}
	.navbar-nav .dropdown-menu{
		width: 190px;
	}
	#search .btn-primary{
		font-weight: 500;
		margin-top: 18px;
	}
	#add-admin .btn-primary{
		font-weight: 500;
	}
	.text-left p{
		text-align: center !important;
	}
	.text-right p{
		text-align: center !important;
	}
	.container{
		width: 85%;
	}
	#search .search-note input{
		margin-top: 	18px;
	}
}